<!-- <form [formGroup]="loginForm" action="#" method="post">
  <div class="flex justify-center min-h-full items-center">

    <div class="flex flex-col m-2">
      <div class="m-2 justify-center">
        <label for="username" class="leading-6 block text-sm font-medium to-gray-900">Username</label>
      </div>

      <div class="m-2">
        <input type="text" name="username" formControlName="username" class="p-2 bg-slate-200 border-0 w-full rounded-md ring-inset sm:leading-6 shadow-sm">
      </div>
    </div>

    <div class="flex flex-col m-2">
      <div class="m-2">
        <label for="password" class="leading-6 block text-sm font-medium to-gray-900">Password</label>
      </div>

      <div class="m-2">
        <input type="password" name="password" formControlName="password" class="p-2 bg-slate-200 border-0 w-full rounded-md ring-inset sm:leading-6 shadow-sm">
      </div>
    </div>

    <div class="items-center justify-center flex flex-initial m-2">
      <button (click)="buttonSubmit()"
      class="items-center text-center shadow-lg text-gray-600 bg-slate-200 font-medium rounded-lg text-sm p-4 hover:bg-slate-400">Submit</button>
    </div>
  </div>
</form>

<div class="flex justify-center">
  <p *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched" class="mt-2 items-center text-xs alert ">username is required</p>
  <p class="mt-2 items-center text-xs text-error" *ngIf="loginForm.get('password')?.errors?.['minlength']">minimum 8 characters</p>
</div> -->

<div class="flex flex-col items-center justify-center font-semibold px-6 py-8 mx-auto md:h-screen lg:py-0">
  <a href="#">
    <img src="../../../favicon.ico" alt="angular logo" class="w-8 h-8 m-2">
    Angular App
  </a>

  <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">

    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
        Sign in to your account
      </h1>

      <form action="#" class="space-y-4" [formGroup]="loginForm">
        <div>
          <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
          <input formControlName="username" type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg w-full block p-2.5">
        </div>

        <div>
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
          <input formControlName="password" type="password" name="password" id="" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg w-full block p-2.5">
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input type="checkbox" name="remember" id="remember" aria-describedby="remember" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 ">
            </div>

            <div class="ml-3 text-sm">
              <label for="remember" class="text-gray-500">Remember me</label>
            </div>
          </div>
          <a href="#" class="text-sm font-medium text-primary-600 hover:underline"></a>
        </div>
        <button (click)="buttonSubmit()" type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
        <p class="text-sm font-light text-gray-500">
          Don't have an account yet?
          <a href="#" class="font-medium text-primary-600 hover:underline">Sign up</a>
        </p>
      </form>
    </div>

  </div>

</div>
