<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<button
  (click)="buttonOnClick()"
  class="text-center shadow-lg justify-center text-gray-600 bg-white font-medium rounded-lg text-sm px-5 py-2.5 m-10 hover:bg-slate-400">
  <div *ngIf="!showText">Show Text</div>
  <div *ngIf="showText">Hide Text</div>
</button>

    <p *ngIf="showText">{{title}}</p>

<div class="flex flex-col min-h-full justify-center ">
    <div class="mt-10 sm:mx-auto">
      <form class="space-y-6" action="#" method="POST">
        <div>
          <label
            for="username"
            class="leading-6 block text-sm font-medium to-gray-900">
            Username
          </label>
          <div class="mt-2">
            <input
              type="text"
              id="username"
              name="username"
              [(ngModel)]="username"
              required
              class="border-0 w-full rounded-md ring-inset sm:leading-6 shadow-sm">
          </div>

        </div>



      </form>

      <button
          (click)="buttonOnClick()"
          class="text-center shadow-lg justify-center text-gray-600 bg-white font-medium rounded-lg text-sm px-5 py-2.5 m-10 hover:bg-slate-400">
          Submit
        </button>

    </div>

</div>

<!-- <router-outlet></router-outlet> -->
