<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="space-y-4">

  <div class="justify-center flex flex-col items-center">
    <div>
      <label for="id" class="block m-2 text-sm font-medium text-slate-900">ID</label>
      <input type="text" name="id" formControlName="id" class="bg-slate-100 border-0 rounded-md m-2 p-2">
    </div>

    <div>
      <label for="name" class="block m-2 text-sm font-medium text-slate-900">Name</label>
      <input type="text" name="name" formControlName="name" class="bg-slate-100 border-0 rounded-md m-2 p-2">
    </div>

    <div>
      <label for="address" class="block m-2 text-sm font-medium text-slate-900">Address</label>
      <input type="text" name="address" formControlName="address" class="bg-slate-100 border-0 rounded-md m-2 p-2">
    </div>

    <div>
      <label for="phonenumber" class="block m-2 text-sm font-medium text-slate-900">Phone Number</label>
      <input type="text" name="phonenumber" formControlName="phoneNumber" class="bg-slate-100 border-0 rounded-md m-2 p-2">
    </div>

    <div>
      <label for="email" class="block m-2 text-sm font-medium text-slate-900">Email</label>
      <input type="text" name="email" formControlName="email" placeholder="example@email.com" class="bg-slate-100 border-0 rounded-md m-2 p-2">
    </div>

    <div class="items-center justify-center flex flex-initial m-2">
      <button
        type="submit"
        class="items-center text-center shadow-lg text-gray-600 bg-slate-200 font-medium rounded-lg text-sm p-4 hover:bg-slate-400">
        Submit
      </button>
    </div>
  </div>

</form>
